# Binaries
**/bin/
bin-int/
Build/

# Debut files
*.log

# Stuff created by programs I use to debug things
**.bak

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# CMake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
