[submodule "Debut/vendor/glfw"]
	path = Debut/vendor/glfw
	url = https://github.com/TheCherno/glfw/
[submodule "Debut/vendor/loguru"]
	path = Debut/vendor/loguru
	url = https://github.com/emilk/loguru
[submodule "Debut/vendor/imgui"]
	path = Debut/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Debut/vendor/glm"]
	path = Debut/vendor/glm
	url = https://github.com/Groovounet/glm
