[submodule "Debut/vendor/glfw"]
	path = Debut/vendor/glfw
	url = https://github.com/TheCherno/glfw/
[submodule "Debut/vendor/loguru"]
	path = Debut/vendor/loguru
	url = https://github.com/emilk/loguru
